extends layout
block content
  .panel.panel-primary
    .panel-heading Search Actors by...
    .panel-body.target
      form(role='form')
        .form-group.form-inline
          label(for='actor_first_name') Actor's First Name
          input#actor_first_name.form-control(type='text')
          label(for='actor_last_name') Actor's Last Name
          input#actor_last_name.form-control(type='text')
        .form-group.form-inline
          label(for='actor_gender') Gender
          select#movie_year.form-control
            option Male
            option Female
        button.btn.btn-default.pull-right(type='submit') Submit
