extends layout
block content
  .panel.panel-primary
    .panel-heading Search Actors by...
    .panel-body.target
      form(role='form', method="POST", action='/Actors')
        .form-group.form-inline
          label(for='actor_first_name') Actor's First Name
          input#actor_first_name.form-control(type='text', name='first_name', value=(data ? data.first_name : ""))
          label(for='actor_last_name') Actor's Last Name
          input#actor_last_name.form-control(type='text', name='last_name', value=(data ? data.last_name : ""))
        button.btn.btn-default.pull-right(type='submit') Submit
  if showResults
    .col-md-6
      .panel.panel-primary
        .panel-heading Results
        .panel-body.target
          table(class='table table-hover')
            th Name
            th Gender
            tbody
              if data.length > 1
                each actor, index in data
                  tr(class=(actor.id === id ? "info": ""))
                    td
                      a(href='/Actors/#{actor.id}')= actor.last_name + ", " + actor.first_name 
                    td
                      = actor.gender
              else
                tr.info
                  td
                    =data.last_name + ", " + data.first_name
                  td
                    =data.gender
    .col-md-6
      !=template
