doctype html
html
  head
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.css")
  body
    .navbar.navbar-default
      .navbar-header
        a.navbar-brand(href='#') FIMDB
      ul.nav.navbar-nav
        li(class=(selected === "movies" ? "active" : ""))
          a(href='/Movies') Movies
        li(class=(selected === "actors" ? "active" : ""))
          a(href='/Actors') Actors
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', preventDefault='true')
            | Favorites 
            b.caret
          ul.dropdown-menu
            li
              if favs
                each fav in favs
                  a(href='/Movies/#{fav.type_id}')
                    = fav.name
    .container
      block content
    script(type='text/javascript', src='/jquery/dist/jquery.js')
    script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.min.js')
      
