extends layout
block content
  .panel.panel-primary
    .panel-heading Search Movies by...
    .panel-body.target
      form(role='form', method='POST', action='/Movies')
        .form-group
          label(for='movie_name') Movie Name
          input#movie_name.form-control(type='text', name='name', value=(data ? data.name : ''))
        .form-group.form-inline
          label(for='movie_year') Movie Year
          select#movie_year.form-control(name='year')
            option 
              =(data ? data.year : "")
            - var i = 1888
            -while (i <= 2008)
                option 
                  =i++
        button.btn.btn-default.pull-right(type='submit') Submit
      if data && data.id
        a.btn.btn-default.pull-right(href='/Movies/#{data.id}?method=post') Add to Favorites
  if showResults
    .col-md-6
      .panel.panel-primary
        .panel-heading Results
        .panel-body.target
          table(class='table table-hover')
            th Title
            th Year
            th Genre
            th Rank
            tbody
              if data.length > 0
                each movie, index in data
                  tr(class=(movie.id === id ? "info": ""))
                    td
                      a(href='/Movies/#{movie.id}')= movie.name
                    td
                      = movie.year
                    td 
                      = movie.movies_genres ? movie.movies_genre.genre : ""
                    td
                      = movie.rank
              else
                tr.info
                  td
                    = data.name
                  td
                    = data.year
                  td
                    = data.movies_genre ? data.movies_genre.genre : ''
                  td
                    =data.rank
            //pager goes here
    .col-md-6
      !=template
